In [27]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [28]:
popular = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/2019popular_songtitles.csv")
unpopular = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/unpopular_songtitles.csv")

In [29]:
unpopular['popularity'] = "unpopular"
popular['popularity'] = "popular"
unpopular.head()

   Unnamed: 0   song_titles popularity
0           0  Good for You  unpopular
1           1     Body Heat  unpopular
2           2       Strings  unpopular
3           3    Aftertaste  unpopular
4           4           Air  unpopular

In [30]:
popular.head()

   Unnamed: 0                                    song_titles popularity
0           0                                  Thank U, Next    popular
1           1                                     Without Me    popular
2           2                All I Want For Christmas Is You    popular
3           3                                     Sicko Mode    popular
4           4  Sunflower (Spider-Man: Into The Spider-Verse)    popular

In [31]:
df = pd.concat([unpopular, popular], ignore_index=True,sort=False)

In [32]:
df = df[['popularity','song_titles']]
df = df.dropna(how = 'any')
df.tail()

     popularity song_titles
1478    popular        TOES
1479    popular    Somebody
1480    popular         DHL
1481    popular   Boyfriend
1482    popular   Wish Wish

In [33]:
df.to_csv("Resources/songtitle&popularity.csv", encoding = "utf-8", index = False, header = True)