In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [9]:
data1990 = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/1990data_cleaned.csv")
data2000 = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/2000data_cleaned.csv")
data2010 = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/2010data_cleaned.csv")
data2019 = pd.read_csv("https://hyd123.s3.us-east-2.amazonaws.com/updated_data/2019data_cleaned.csv")

In [10]:
data1990.columns

Index(['Unnamed: 0', 'acousticness', 'analysis_url', 'danceability',
       'duration_ms', 'energy', 'id', 'instrumentalness', 'key', 'liveness',
       'loudness', 'mode', 'speechiness', 'tempo', 'time_signature',
       'track_href', 'type', 'uri', 'valence'],
      dtype='object')

In [11]:
data1990 = data1990[['duration_ms','loudness','speechiness']]
data2000 = data2000[['duration_ms','loudness','speechiness']]
data2010 = data2010[['duration_ms','loudness','speechiness']]
data2019 = data2019[['duration_ms','loudness','speechiness']]

In [12]:
data1990.head()

   duration_ms  loudness  speechiness
0       322133    -7.320       0.0306
1       330933    -8.340       0.0587
2       211973   -11.005       0.0327
3       215040    -7.325       0.1080
4       274093   -12.639       0.0300

In [13]:
data1990 = data1990.rename(columns={"duration_ms":"duration_ms_1990", "loudness":"loudness_1990","speechiness":"speechiness_1990"})
data2000 = data2000.rename(columns={"duration_ms":"duration_ms_2000", "loudness":"loudness_2000","speechiness":"speechiness_2000"})
data2010 = data2010.rename(columns={"duration_ms":"duration_ms_2010", "loudness":"loudness_2010","speechiness":"speechiness_2010"})
data2019 = data2019.rename(columns={"duration_ms":"duration_ms_2019", "loudness":"loudness_2019","speechiness":"speechiness_2019"})

In [14]:
df = pd.concat([data1990,data2000,data2010,data2019], axis=1)
df.head()

,duration_ms_1990,loudness_1990,speechiness_1990,duration_ms_2000,loudness_2000,speechiness_2000,duration_ms_2010,loudness_2010,speechiness_2010,duration_ms_2019,loudness_2019,speechiness_2019
0,322133,-7.320,0.0306,257760.0,-3.947,0.0751,199693.0,-2.718,0.1420,207320.0,-5.634,0.0658
1,330933,-8.340,0.0587,263667.0,-9.090,0.0307,216480.0,-7.784,0.0341,201661.0,-7.050,0.0705
2,211973,-11.005,0.0327,263800.0,-4.047,0.0244,294573.0,-3.755,0.0363,241107.0,-7.462,0.0386
3,215040,-7.325,0.1080,187133.0,-3.891,0.0982,246960.0,-8.415,0.1590,312820.0,-3.714,0.2220
4,274093,-12.639,0.0300,250360.0,-9.880,0.0279,228347.0,-6.720,0.0417,158040.0,-5.574,0.0466

In [15]:
df.to_csv("Resources/3d_RandomForest.csv", encoding = "utf-8", index = False, header = True)