In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("2010_all_songs.csv")
data.head(10)

                                Songs
0       10 Seconds - Jazmine Sullivan
1    100 Years From Now - Karen Elson
2              1000 Years - The Coral
3                   187 - Lil' Boosie
4               1979 - Good Charlotte
5                   1983 - Neon Trees
6          2 Fat Ladies - Paul Weller
7              2 Sides of Me - Hinder
8               2012 - The Word Alive
9  2012 (It Ain't the End) - Jay Sean

In [3]:
data = data.Songs.str.split('-',n=1,expand=True)
data.head(10)

                          0                  1
0               10 Seconds    Jazmine Sullivan
1       100 Years From Now         Karen Elson
2               1000 Years           The Coral
3                      187         Lil' Boosie
4                     1979      Good Charlotte
5                     1983          Neon Trees
6             2 Fat Ladies         Paul Weller
7            2 Sides of Me              Hinder
8                     2012      The Word Alive
9  2012 (It Ain't the End)            Jay Sean

In [ ]:
data.